# Title:Click Data From HURON Via KUL
# Notes:https://bmi-work.kumc.edu/work/ticket/3901#ticket

src.driver = com.microsoft.sqlserver.jdbc.SQLServerDriver
src.url = jdbc:sqlserver://...host...;DatabaseName=...ecompliance
src.username=...
src.password=...

http.port=8787
verbose=true
